@import '../../styles/vars.less';

ion-item-group.step-panel, ion-item-group.scripts {
    border: 1px solid var(--ion-color-medium);
    border-radius: 4px;
    margin: 4px;
    ion-item {
        --background: transparent;
        --border-style: none;
        font-size: .8em;
    }
}

ion-popover ion-item {
    cursor: pointer;
    &:hover {
        --background: transparent;
        background-color: #00000005;
    }
}

.item-inner {
    --border-style: none;
}
.step-item {
    &-steps {
        width: 100%;
    }
    &-button {
        color: var(--ion-text-color);
        background: transparent;
    }
}
.step-panel {
    margin-left: 36px;
    border: none;
}
