@import './variables.less';

html,body,#root {
  height: 100%
}

.app {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &-content {
    display: inherit;
    overflow: hidden;
    margin: 0px;
    align-self: center;
    width: 100%;
    &-main {
      display: flex;
      width: 100%;
      overflow: hidden;
      margin: 0px;
      justify-content: center !important;
    }
  }
  &-footer {
    background-color: @menu-dark-bg !important;
    flex-direction: row;
    padding: 0 !important;
  }
  &-menu {
    width: fit-content !important;
    margin: auto !important;
    .ant-menu-item-selected, .ant-menu-item-active {
      background-color: inherit !important;
      svg {
        color: @primary-color;
      }
    }
  }
  .header-row {
    display: block;
    padding-bottom: 5px;
    text-align: center;
    .header-col {
      display: inline-flex;
    }
    .ant-form-item-control-input-content {
      text-align: center;
    }
    img {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: auto;
    }
    div {
      display: inline-block;
    }
    h1 {
      display: inline-block;
      font-family: elephant;
      margin-bottom: 0px;
    }
    h3 {
      display: inline-block;
      font-family: 'Bad Script';
    }
    @media screen and (max-height: 560px) {
      display: none !important;
    }
  }
  .header-row-fixed {
    display: block;
    padding-bottom: 5px;
    text-align: center;
    .header-col {
      display: inline-flex;
    }
    .ant-form-item-control-input-content {
      text-align: center;
    }
    img {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: auto;
    }
    h1 {
      display: inline-block;
      font-family: elephant;
      margin-bottom: 0px;
    }
    h3 {
      display: inline-block;
      font-family: 'Bad Script';
    }
  }
}