<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jcat.fcenailclient" version="1.1.2-beta" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FC E-Nail</name>
    <description>
        FC E-Nail by JCat - A better E-Nail!
    </description>
    <author email="joe@cataford.com" href="https://github.com/J-Cat">
        JCat (FC)
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="APP_SECRET" value="b734f548-0e0a-4556-92c4-a07ec20c0c16" />
        <preference name="CodePushDeploymentKey" value="vqLGSry42dswc1K8EJh27Kn41bDwBJxQ6P3iE" />
        <preference name="APPCENTER_ANALYTICS_ENABLE_IN_JS" value="true" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="APP_SECRET" value="bad3e26b-be23-4cdd-8d09-578c731552c5" />
        <preference name="CodePushDeploymentKey" value="HXwPZQ_bjeqg9xiRcehIpPWPQiKmSJK6OPns4" />
        <preference name="APPCENTER_ANALYTICS_ENABLE_IN_JS" value="true" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidLaunchMode" value="singleTask" />
</widget>
