<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jcat.fcenailclient" version="1.0.0-beta.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FC E-Nail</name>
    <description>
        FC E-Nail by JCat - A better E-Nail!
    </description>
    <author email="joe@cataford.com" href="https://github.com/J-Cat">
        JCat (FC)
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-zeroconf" spec="^1.3.3" />
    <plugin name="cordova-plugin-add-swift-support" spec="^1.7.2" />
    <engine name="android" spec="^7.1.2" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
