@import '../../variables.less';

.home-form {
  &-label {
    min-width: 110px;
  }
  .section-label {
    font-style: italic;
  }
  .form-section {
    padding-left: 20px;
    .home-form-label {
      min-width: 90px;
      max-width: 200px;
    }
  }
  .ant-form-item {
    margin: 0px;
  }
}