[Unit]
Description=FC E-Nail Emergency Remote Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/.fcenail
ExecStart=/usr/local/bin/fcenail-remotesupport
EnvironmentFile=/etc/systemd/fcenail.conf
Restart=on-failure
ExecStop=/usr/local/bin/fcenail-cleardisplay

[Install]
WantedBy=multi-user.target