[Unit]
Description=FC E-Nail Local Tunnel Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/.fcenail
ExecStart=/usr/local/bin/fcenail-localtunnel
EnvironmentFile=/etc/systemd/fcenail.conf
Restart=always

[Install]
WantedBy=multi-user.target