[Unit]
Description=FC E-Nail - A smart e-nail controller!
Documentation=https://github.com/J-Cat/fc-enail
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/root/.fcenail
ExecStart=/usr/local/bin/fcenail
Restart=on-failure

[Install]
WantedBy=multi-user.target