[Unit]
Description=FC E-Nail Update Service - Keeps your e-nail up-to-date.
Documentation=https://github.com/J-Cat/fc-enail
Wants=fcenail-update.timer

[Service]
Type=simple
User=root
WorkingDirectory=/root/.fcenail
ExecStart=/usr/local/bin/fcenail-updater
EnvironmentFile=/etc/systemd/fcenail.conf

[Install]
WantedBy=multi-user.target