[Unit]
Description=Keeps FC E-Nail Updated
Requires=fcenail-update.service

[Timer]
Unit=fcenail-update.service
OnCalendar=*-*-* 04:00:00

[Install]
WantedBy=timers.target