@import '../../../styles/vars.less';

.profiles {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-content {
        flex: 1 0 auto;
        color: var(--ion-text-color);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &-datarow {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: auto auto 10px auto;
            &-label {
                margin: auto auto 10px auto;
            }
        }
        &-buttonrow {
            margin: 10px auto auto auto;
            text-align: center;
        }
    }
}